.div-text-init{
  position: relative;
  top: -200px;
  display: flex;
}


.div-text-init p{
  font-size: 30px;
}

.multicolortext {
  background-image: linear-gradient(to left, blue, green, yellow, orange, gray, deepskyblue, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}


.content-welcome {

  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width:100%;

  background: #ededed;
  background-image: url('/assets/img/background.jpg');
  background-repeat: no-repeat ;
  background-position: center;
  /*background-size: cover;*/
}

@media screen and (max-width: 600px) {
  .content-welcome {
    background-size: 400px 300px;
  }

  .div-text-init p{
    font-size: 15px;
  }


  .div-text-init{
    font-size: 10px;
  }

}

