<div class="load" *ngIf="loading">
  <img src="/assets/img/loading.gif">
</div>

<mat-card class="card" >
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
  </mat-card-header>


  <div class="router-edit">
    <mat-form-field class="full-width">
      <mat-label>From</mat-label>
      <input matInput type="text" class="form-control" id="from" #from [formControl]="fromControl"
             autocomplete="off"
             autocapitalize="off"
             spellcheck="off"
             placeholder="Ex. Bogota">
      <mat-icon matSuffix>my_location</mat-icon>
    </mat-form-field>
  </div>


  <div class="router-edit">
    <mat-form-field class="full-width">
      <mat-label>To</mat-label>
      <input matInput type="text" class="form-control" id="to" #to [formControl]="toControl"
             autocomplete="off"
             autocapitalize="off"
             spellcheck="off"
             placeholder="Ex. Cartagena">
      <mat-icon matSuffix>beach_access</mat-icon>
    </mat-form-field>
  </div>

  <div class="router-edit">
    <mat-form-field class="full-width">
      <mat-label>Time for each stop</mat-label>
      <mat-select [(ngModel)]="route.hourStop" name="stop">
        <mat-option *ngFor="let s of stops" [value]="s">
          {{s}}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>access_time</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <button mat-mini-fab color="primary" [disabled]="!start||!target" (click)="onDrawRoute()">
      <mat-icon matSuffix>near_me</mat-icon>
    </button>
  </div>

  <div>
    <button mat-mini-fab color="warn" style="left: 5px;" [disabled]="registered||!planned" (click)="onSave()">
      <mat-icon matSuffix>cloud_done</mat-icon>
    </button>
  </div>

</mat-card>

<mat-card class="card-container-map">
  <div id="map" #map class="card-map"></div>
</mat-card>


<mat-card class="card-plans" *ngIf="start||target">

<mat-accordion *ngIf="start||target" class="example-headers-align">
  <mat-expansion-panel *ngFor="let plan of plans; let i = index" [expanded]="step === i" (opened)="setStep(i)"
                       hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Stop #
      </mat-panel-title>
      <mat-panel-description>
        {{i}}
        <mat-icon>pin_drop</mat-icon>
      </mat-panel-description>
      <mat-panel-description>
        {{plan.description}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Km</mat-label>
      <input matInput type="number" value="{{plan.km}}" disabled>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Time</mat-label>
      <input matInput type="number" value="{{plan.time}}" disabled>
    </mat-form-field>

    <mat-action-row>
      <button mat-mini-fab color="warn" (click)="getInfo(plan)">
        <mat-icon matSuffix>not_listed_location</mat-icon>
      </button>
      <button mat-mini-fab [color]="plan.state===1?'basic':'accent'"  (click)="setPlanState(plan)">
        <mat-icon matSuffix>beenhere</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="getPlace(plan, 'gas_station')">
        <mat-icon matSuffix>local_gas_station</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="getPlace(plan, 'hotel')">
        <mat-icon matSuffix>hotel</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

</mat-card>
